.btn-success{
    font-size: 50px;
}
.btn-info{
    width: 50%;
}
.btn-primary{
    width: 50%;
}
.btn-warning{
    width: 20%;
    border-radius: 20px;
    margin: 20px;
}
.btn-info{
    width: 20%;
    border-radius: 20px;
    margin: 20px;
}
.heading{
    width: 50%;
}
.canvas{
    box-shadow: 5px 5px 5px grey;
    border: 5px solid black;
    border-radius: 20px;
    margin-top: 300px auto;
}